<html>
<head>
	<title>  सीकर टाइम्स  </title>
	<link rel="shortcut icon" type="image/x-icon" href="/static/img/title_icon.jpg">
	<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="main">
		{% include 'header.html' %}
			<div class="news">
			<div class="news_left">
			</div>
			<div class="news_middle">
				<div class="new_middle_header">
					<div class="logo">
						<div class="logo_1">
							<img src="{{logo.logo.url}}">
						</div>
						<div class="add_1">
							<img src="{{logo.poster.url}}">
						</div>
					</div>
					{% include 'menu.html' %}
				</div>
				<div class="f_news_left_header">
						<div class="f_news_left_header_left">
							<img src="/static/img/contact1.png">
						</div>
						<div class="f_news_left_header_right">
							<h3> संपर्क </h3>
						</div>
				</div>
				<div class="contact">
					<div class="contact_left">
						<div class="contact_left_top">
							<h3> रेजिस्टर्ड कार्यालय : </h3>
							<p> 109, एफ-1, मोती नगर, क्वींस रोड, वैशाली नगर जयपुर - 302021 </p>
						</div>
						<div class="contact_left_bottom">
							<h3> कॉर्पोरेट आफिस </h3>
							<p> आर जेड. 12, हीरा पार्क, डीटीसी बस टर्मिनल के पास, नजफगढ, नई दिल्ली - 43</p>
						</div>
					</div>
					<div class="contact_right">	
						<form action="validation.php" method="post">
							<input type="text" placeholder="First Name" value="" id="box1" name="first_name">
							<input type="text" placeholder="Last_name" value="" id="box2" name="last_name">
							<div class="error">
								<div class="error_left">
									<p>  </p>
								</div>
								<div class="error_right">
									<p>  </p>
								</div>
							</div>
							<input type="text" placeholder="Mobile Number" value="" id="box3" name="mobile">
							<div class="error">
								<p>  </p>
							</div>
							<textarea name="message" id="box4">  </textarea>
							<div class="error">
								<p>  </p>
								<p> <span style="color:green">  </span></p>
								<p>  </p>
							</div>
							<input type="reset" value="Reset" id="button1">
							<input type="submit" value="Submit" id="button2" name="contact">
						</form>
					</div>
				</div>
			{% include 'footer.html' %}
			</div>
			<div class="news_right">
			</div>
	</div>
</div>



<div class="main_mob">
		{% include 'mobile_header.html' %}
		
					<div class="f_news_left_header">
						<div class="f_news_left_header_left">
							<img src="/static/img/contact1.png">
						</div>
						<div class="f_news_left_header_right">
							<h3> संपर्क </h3>
						</div>
					</div>
					
		<div class="contact">
					<div class="contact_left">
						<div class="contact_left_top">
							<h3> रेजिस्टर्ड कार्यालय : </h3>
							<p> 109, एफ-1, मोती नगर, क्वींस रोड, वैशाली नगर जयपुर - 302021 </p>
						</div>
						<div class="contact_left_bottom">
							<h3> कॉर्पोरेट आफिस </h3>
							<p> आर जेड. 12, हीरा पार्क, डीटीसी बस टर्मिनल के पास, नजफगढ, नई दिल्ली - 43</p>
						</div>
					</div>
					<div class="contact_right">	
						<form action="validation" method="post">
							<input type="text" placeholder="First Name" value="" id="box1" name="first_name">
							<div class="mob_error">
									<p>  </p>
							</div>
							<input type="text" placeholder="Last_name" value="" id="box2" name="last_name">
							<div class="mob_error">
									<p>  </p>
							</div>
							<input type="text" placeholder="Mobile Number" value="" id="box3" name="mobile">
							<div class="mob_error">
								<p>  </p>
							</div>
							<textarea name="message" id="box4">  </textarea>
							<div class="mob_error">
								<p>  </p>
								<p> <span style="color:green">  </span></p>
								<p>  </p>
							</div>
							<input type="reset" value="Reset" id="button1">
							<input type="submit" value="Submit" id="button2" name="contact">
						</form>
					</div>
				</div>
		
	</div>
<script>
function openNav() {
  document.getElementById("mySidepanel").style.width = "40%";
}

function closeNav() {
  document.getElementById("mySidepanel").style.width = "0";
}

</script>
</body>
</html>