				<div class="footer">
					<div class="footer_top">
						<div class="footer_top_1">
							<img src="{{logo.logo.url}}">
						</div>
						<div class="footer_top_2">
							<div class="footer_top_2_1">
								<a href="https://www.youtube.com/channel/UCKwnjQoiJYieBmapB6kR0yA"><img src="/static/img/youtube.png"></a>
							</div>
							<div class="footer_top_2_1">
								<a href="https://twitter.com/rajasthan_diary?lang=en"><img src="/static/img/twitter.png"></a>
							</div>
							<div class="footer_top_2_1">
								<a href="https://www.facebook.com/pages/category/Media-News-Company/Rajasthan-Diary-345468882193454/"><img src="/static/img/fb512.webp"></a>
							</div>
						</div>
					</div>
					<div class="footer_middle">
						<div class="footer_middle_1">
							<h3> देश </h3>
							<h4> राजस्थान </h4>
							<h4> दिल्ली </h4>
							<h4> हरियाणा </h4>
							<h4> पंजाब </h4>
							<h4> महाराष्ट्र </h4>
						</div>
						
						<div class="footer_middle_1">
							<h3> विदेश </h3>
							<h4> अमेरिका </h4>
							<h4> यूरोप </h4>
							<h4> एशिया </h4>
						</div>
						<div class="footer_middle_1">
							<h3> स्पोर्ट्स </h3>
							<h4> क्रिकेट </h4>
							<h4> फ़ुटबॉल </h4>
							<h4> हॉकी </h4>
							<h4> टेनिस </h4>
						</div>
						<div class="footer_middle_1">
							<h3> मनोरंजन </h3>
							<h4> बॉलीवुड </h4>
							<h4> इंटरनेशनल </h4>
						</div>
						<div class="footer_middle_1">
							<h3> राजस्थान </h3>
							<h4> गाँव </h4>
							<h4> शहर </h4>
							<h4> मुद्दे </h4>
						</div>
					</div>
					<div class="footer_bottom">
						<p> ©Copyright 2022 by Sikar Times. </p>
					</div>
				</div>