<div class="header">
			<div class="header-date">
				<h3> <!-- <?php echo date("M"); echo ", "; echo date("d Y"); ?> --> </h3>
			</div>
			<div class="header-1">
				<h3> RD Tv </h3>
			</div>
			<div class="header-1">
				<h3> RD News Network </h3>
			</div>
			<div class="header-1">
				<h3><a style="color:#fff;text-decoration:none;" href="magazine"> Magazine </a> </h3>
			</div>
			<div class="header-1">
				<h3> Follow Us: </h3>
			</div>
			<div class="header-2">
				<a href="https://twitter.com/rajasthan_diary?lang=en"> <img src="/static/img/twitter3.png"> </a>
			</div>
			<div class="header-2">
				<a href="https://www.facebook.com/pages/category/Media-News-Company/Rajasthan-Diary-345468882193454/"> <img src="/static/img/facebook.png"> </a>
			</div>
			<div class="header-2">
				<a href="https://www.youtube.com/channel/UCKwnjQoiJYieBmapB6kR0yA"> <img src="/static/img/youtube3.png"> </a>
			</div>
			<div class="header-3">
				<form action ="" method="get">
					<input type="text" id="search" placeholder="खोजे...." name="search">
					<button type="submit" id="search_button"><i class="fa fa-search"></i></button>
				</form>
			</div>
		</div>