<html>
<head>
	<title>  सीकर टाइम्स  </title>
	<link rel="shortcut icon" type="image/x-icon" href="/static/img/title_icon.jpg">
	<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="main">
		{% include 'header.html' %}
			<div class="news">
			<div class="news_left">
			</div>
			<div class="news_middle">
				<div class="new_middle_header">
					<div class="logo">
						<div class="logo_1">
							<img src="{{ logo.logo.url }}">
						</div>
						<div class="add_1">
							<img src="{{logo.poster.url}}">
						</div>
					</div>
					{% include 'menu.html' %}
				</div>

				{% for x in magazine %}
				<div class="f_news_middle_right_magazine">
					<div class="f_top_news_right_1_magazine">
						<h3>  मैगजीन  </h3>
						<h4> {{ x.date}} </h4>
						<img src="/media/{{x.image}}">
						<input type="button" id="magazine_button" value="ई-मैगज़ीन पढ़े ">
					</div>
					<div class="f_top_news_right_2">
					</div>
				</div>
				{% endfor %}
			{% include 'footer.html' %}
			</div>
			<div class="news_right">
			</div>
	</div>
</div>



<div class="main_mob">
		{% include 'mobile_header.html' %}
		
					
				{% for x in magazine %}
				<div class="f_news_middle_right_magazine">
					<div class="f_top_news_right_1_magazine">
						<div class="f_top_news_right_1_magazine_heading">
							<h3>  मैगजीन  </h3>
						</div>
						<div class="f_top_news_right_1_magazine_date">
							<h4> {{ x.date }} </h4>
						</div>
						
						<div class="f_top_news_right_1_magazine_image">	
							<img src="{{ x.image|slice:"4:"}}">
						</div>
						<input type="button" id="magazine_button" value="ई-मैगज़ीन पढ़े ">
					</div>
					<div class="f_top_news_right_2">
					</div>
				</div>
				{% endfor %}
		
	</div>
<script>
function openNav() {
  document.getElementById("mySidepanel").style.width = "40%";
}

function closeNav() {
  document.getElementById("mySidepanel").style.width = "0";
}

</script>
</body>
</html>