<div class="main_mob_header">
			<div class="main_mob_header_top_1">
				<div class="main_mob_header_top_1_1">
					<h3> <?php echo date("M"); echo ", "; echo date("d Y"); ?> </h3>
				</div>
				<div class="main_mob_header_top_1_1">
					<h3> RD Tv </h3>
				</div>
				<div class="main_mob_header_top_1_1">
					<h3> RD News Network </h3>
				</div>
				<div class="main_mob_header_top_1_1">
					<h3> <a style="color:#fff;text-decoration:none;" href="magazine"> Magazine </a></h3>
				</div>
			</div>
			<div class="main_mob_header_top_2">
				<div class="mob_menu">
					<div id="mySidepanel" class="sidepanel">
						<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
						<a href="http://127.0.0.1:8000/news/" id="menu_mob_1"><i class="fa fa-home"></i> होम</a>
						<a href="http://127.0.0.1:8000/news/national" id="menu_mob_1">देश</a>
						<a href="http://127.0.0.1:8000/news/international" id="menu_mob_1">विदेश</a>
						<a href="http://127.0.0.1:8000/news/rajasthan" id="menu_mob_1">राजस्थान</a>
						<a href="http://127.0.0.1:8000/news/politics" id="menu_mob_1">राजनीति</a>
						<a href="http://127.0.0.1:8000/news/sports" id="menu_mob_1">स्पोर्ट्स</a>
						<a href="http://127.0.0.1:8000/news/entertainment" id="menu_mob_1">मनोरंजन</a>
						<a href="http://127.0.0.1:8000/news/magazine" id="menu_mob_1">मैगजीन</a>
						<a href="http://127.0.0.1:8000/news/video" id="menu_mob_1">वीडियो</a>
						<a href="http://127.0.0.1:8000/news/photo" id="menu_mob_1">फोटो</a>
						<a href="http://127.0.0.1:8000/news/carrier" id="menu_mob_1">करिअर</a>
						<a href="http://127.0.0.1:8000/news/contact" id="menu_mob_1">संपर्क</a>
					</div>
					<button class="openbtn" onclick="openNav()">☰</button> 
				</div>
				<div class="mob_logo">
					<img src="{{logo.logo.url}}">
				</div>
				<div class="mob_header_share">
					<a href="https://twitter.com/rajasthan_diary?lang=en"><img src="/static/img/twitter3.png"></a>
				</div>
				<div class="mob_header_share">
					<a href="https://www.facebook.com/pages/category/Media-News-Company/Rajasthan-Diary-345468882193454/"><img src="/static/img/facebook.png"></a>
				</div>
				<div class="mob_header_share">
					<a href="https://www.youtube.com/channel/UCKwnjQoiJYieBmapB6kR0yA"><img src="/static/img/youtube3.png"></a>
				</div>
				<div class="mob_header_share">
					<i class="fa fa-bell" style="color:#fff;font-size:23px;padding-top:3px;"></i>
				</div>
			</div>
		</div>